* {
    margin: 0;
    padding: 0;
}

/*This is reset*/
/*body {
    background-image: url(..//Images/bcc.jpg);
    background-size: contain;
    background-position-y: 180px;
    background-repeat: no-repeat;
    background-attachment: fixed;

}*/

#navbar {
    display: flex;
    align-items: center;
    position: relative;
    background-image: linear-gradient(#033747,#012733);

    height: 60px;

}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;

    font-size: 1.2rem;
}

#navbar ul li a {
    color: #fff;
    display: block;
    padding: 4px 15px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: #00ABB3;
    background-image: linear-gradient(#033747,#012733);
}

h1 {
    font-size: 5rem;

}

.container {
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
    background: #000000b0;
}

h1 {
    color: #fff;
    font-size: 5rem;
}

.card {
    background: #1b1f21;
    width: 320px;
    margin: 10px 20px;
    border-radius: 15px;
    color: #fff;


}

.card-image {
    background-color: #fff;
    height: 220px;
    margin-bottom: 15px;

    background-size:contain;
    border-radius: 15px 15px 0 0;
}

.place-1 {background-image: url(banaras.jpg);}
.place-2 {background-image: url(banaras1.jpg);}
.place-3 {background-image: url(mani.jpg);}

.card h2 {
    padding: 10px;
}

.card p {
    padding: 10px;
    font-size: 1.2rem;
}

.card a {
    background-color: rgba(240, 7, 7, 0.927);
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    margin: 20px 50px;
    display: block;
    text-decoration: none;

}